.header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}

.header span {
    color: #000;
    font-size: 40px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}