.header {
	display: flex;
	align-items: center;
	justify-content: space-between;

	padding: 10px;
}

.header span {
	color: var(--black);

	font-size: 40px;
	font-weight: 300;
	font-style: normal;
	line-height: normal;
}