.button {
	flex-shrink: 0;

	min-width: 148px;
	height: 35px;

	cursor: pointer;
	text-align: center;
	letter-spacing: 0;

	border-radius: 5px;

	font-size: 14px;
	font-weight: 400;
	line-height: 19px;
}

.primary {
	color: var(--white);
	border: none;
	background: var(--primary);
}

.primary svg {
	fill: var(--white);
}

.ghost {
	color: var(--black);
	border: 1px solid var(--dark-white);
	background: var(--white);
}

.arrow {
	display: inline-block;

	margin-left: 11px;
}

.down {
	transform: rotate(90deg);
}