.button {
	display: flex;
	align-items: center;
	min-width: 148px;
	height: 35px;

	cursor: pointer;
	text-align: center;
	letter-spacing: 0;

	border-radius: 5px;

	font-size: 14px;
	font-weight: 400;
	line-height: 19px;
	border: none;
}

.text{
	flex: 1;
	text-align: center;
	margin-left: 18px;
}

.icon {
	margin-right: 18px;
}
