:root {
	--grey-700: #3B434E;
	--white: #FFF;
	--white-100: #F5F6F8;
	--dark-white: #EBEBEB;
	--primary: #7653FC;
	--red-100: #FC836D;
	--red-900: red;
	--green: #1DC37E;
	--green-light: #C8F8E4;
	--grey: #6E6E6E;
	--dark-gray: #3B434E;
	--blue: #1473E6;
	--grey-100: #F5F5F5;
	--grey-250:#B3C0D9;
	--grey-200: #E5F4FF;
	--grey-850: #303030;
	--grey-800: #4B4B4B;
	--grey-900: #2C2C2C;
	--black: #000;
}