.footer {
	display: grid;
	align-items: center;

	width: 100%;
	min-height: 72px;
	padding: 25px 32px;

	color: var(--white);
	background: var(--primary);

	font-size: 12px;
	font-weight: 500;
	font-style: normal;
	line-height: normal;
	grid-template-columns: 1fr auto auto;
	gap: 10px 40px;

}

@media (width <= 765px) {
	.footer {
		grid-template-columns: 1fr;
	}

}